html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overflow-y: scroll;
}

body {
  @apply text-gray-900;
  scroll-behavior: smooth;
}

/* * { background: rgb(0 100 0 / 0.05) !important; } */